body {
  background-color: rgb(228, 233, 203);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: rgb(230, 169, 99);
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  background-color: white;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
}

h2 {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 10px;
}

dd {
  margin-left: 20px;
  color: gray;
}

footer {
  background-color: rgb(230, 169, 99);
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}